<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- meta tag -->
	<meta charset="utf-8">
	<base href="/" />
	<title>Team - Swipy - Creative Agency HTML Template</title>
	<meta name="description" content="">
	<!-- responsive tag -->
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon -->
	<link rel="apple-touch-icon" href="https://rstheme.com/products/html/swipy/apple-touch-icon.png">
	<link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png">

	<!-- Bootstrap v4.4.1 css -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<!-- font-awesome css -->
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<!-- Uicons Regular Rounded css -->
	<link rel="stylesheet" type="text/css" href="assets/css/uicons-regular-rounded.css">
	<!-- flaticon css -->
	<link rel="stylesheet" type="text/css" href="assets/fonts/flaticon.css">
	<!-- animate css -->
	<link rel="stylesheet" type="text/css" href="assets/css/animate.css">
	<!-- slick css -->
	<link rel="stylesheet" type="text/css" href="assets/css/slick.css">
	<!-- owl.carousel css -->
	<link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
	<!-- off canvas css -->
	<link rel="stylesheet" type="text/css" href="assets/css/off-canvas.css">
	<!-- magnific popup css -->
	<link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
	<!-- Main Menu css -->
	<link rel="stylesheet" href="assets/css/rsmenu-main.css">
	<!-- spacing css -->
	<link rel="stylesheet" type="text/css" href="assets/css/rs-spacing.css">
	<!-- style css -->
	<link rel="stylesheet" type="text/css" href="style.css"> <!-- This stylesheet dynamically changed from style.less -->
	<!-- responsive css -->
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

</head>
<body class="defult-home">

	<div class="offwrap"></div>

	<!--Preloader start here-->
	<div id="pre-load">
		<div id="loader" class="loader">
			<div class="loader-container">
				<div class="loader-icon"><img src="assets/images/fav.png" alt="Swipy Creative Agency Html Template "></div>
			</div>
		</div>
	</div>
	<!--Preloader area end here-->
	<!-- Main content Start -->
	<div class="main-content">

		<!--Full width header Start-->
		<div class="full-width-header">
			<!--Header Start-->
			<header id="rs-header" class="rs-header header-transparent">
				<!-- Menu Start -->
				<div class="menu-area menu-sticky">
					<div class="container">
						<div class="row-table">
							<div class="col-cell header-logo">
								<div class="logo-area">
									<a href="index.html">
										<img class="normal-logo" src="assets/images/logo.png" alt="logo">
										<img class="sticky-logo" src="assets/images/logo.png" alt="logo">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Menu End -->
				<!-- Canvas Menu start -->
				<nav class="right_menu_togle menu-wrap-off  hidden-md">
					<div class="close-btn">
						<a id="nav-close" class="nav-close">
							<div class="line">
								<span class="line1"></span>
								<span class="line2"></span>
							</div>
						</a>
					</div>
					<div class="rs-offcanvas-inner">
						<div class="canvas-logo">
							<a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
						</div>
						<div class="offcanvas-text">
							<p>Suspendisse interdum consectetur libero id. Fermentum leo vel orci porta non. Euismod viverra nibh cras pulvinar suspen.</p>
						</div>
						<div class="canvas-contact">
							<div class="address-area">
								<h2 class="widget-title">Get In Touch</h2>
								<div class="address-list">
									<div class="info-icon">
										<i class="fi fi-rr-envelope-plus"></i>
									</div>
									<div class="info-content">
										<h4 class="title">Email</h4>
										<em><a href="mailto:support@devsdesign.net">support@devsdesign.net</a></em>
									</div>
								</div>
								<div class="address-list">
									<div class="info-icon">
										<i class="fi fi-rr-phone-call"></i>
									</div>
									<div class="info-content">
										<h4 class="title">Phone</h4>
										<em><a href="tel:(00)45611227890">(00) 456 1122 7890</a></em>
									</div>
								</div>
								<div class="address-list">
									<div class="info-icon">
										<i class="fi fi-rr-map-marker-home"></i>
									</div>
									<div class="info-content">
										<h4 class="title">Location</h4>
										<em>Riverside 255, San Francisco, USA</em>
									</div>
								</div>
							</div>
							<ul class="social">
								<li><a href="team.html#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="team.html#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="team.html#"><i class="fa fa-pinterest-p"></i></a></li>
								<li><a href="team.html#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="team.html#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- Canvas Menu end -->
				<!-- Canvas Mobile Menu start -->
				<nav class="right_menu_togle mobile-navbar-menu" id="mobile-navbar-menu">
					<div class="close-btn">
						<a id="nav-close2" class="nav-close">
							<div class="line">
								<span class="line1"></span>
								<span class="line2"></span>
							</div>
						</a>
					</div>
					<ul class="nav-menu">
						<li class="menu-item-has-children">
							<a href="index.html">Home</a>
							<ul class="sub-menu">
								<li class="menu-item-has-children">
									<a href="team.html#">Multipages O1</a>
									<ul class="sub-menu">
										<li><a href="index.html">Home 01</a></li>
										<li><a href="index-2.html">Home 02</a></li>
										<li><a href="index-3.html">Home 03</a></li>
										<li><a href="index-4.html">Home 04</a></li>
										<li><a href="index-5.html">Home 05</a></li>
										<li><a href="index-6.html">Home 06</a></li>
										<li><a href="index-7.html">Home 07</a></li>
										<li><a href="index-8.html">Home 08</a></li>
										<li><a href="index-9.html">Home 09</a></li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="team.html#">Multipages O2</a>
									<ul class="sub-menu">
										<li><a href="index-10.html">Home 10</a></li>
										<li><a href="index-11.html">Home 11</a></li>
										<li><a href="index-12.html">Home 12</a></li>
										<li><a href="index-13.html">Home 13</a></li>
										<li><a href="index-14.html">Home 14</a></li>
										<li><a href="index-15.html">Home 15</a></li>
										<li><a href="index-16.html">Home 16</a></li>
										<li><a href="index-17.html">Home 17</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="last-item menu-item-has-children">
							<a href="team.html#">About</a>
							<ul class="sub-menu">
								<li><a href="about.html">About</a></li>
								<li><a href="about-me.html">About Me</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children current-menu-item">
							<a href="team.html#">Pages</a>
							<ul class="sub-menu">
								<li><a href="services.html">Services</a></li>
								<li><a href="services-details.html">Services Details</a></li>
								<li class="active"><a href="team.html">Team</a></li>
								<li><a href="team-single.html">Team Single</a></li>
								<li><a href="price-table.html">Price Table</a></li>
								<li><a href="price-table-switcher.html">Price Table Switcher</a></li>
								<li><a href="testimonial.html">Testimonial</a></li>
								<li class="last-item menu-item-has-children">
									<a href="team.html#">Shop</a>
									<ul class="sub-menu">
										<li><a href="shop.html">Shop</a></li>
										<li><a href="shop-single.html">Shop Single</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="my-account.html">My Account</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="blog.html">Blog</a>
						</li>
						<li class="last-item menu-item-has-children">
							<a href="team.html#">Portfolio</a>
							<ul class="sub-menu">
								<li><a href="portfolio-two-column.html">Portfolio Two Column</a></li>
								<li><a href="portfolio-three-column.html">Portfolio Three Column</a></li>
								<li><a href="portfolio-four-column.html">Portfolio Four Column</a></li>
								<li><a href="portfolio-single-column.html">Portfolio Single Column</a></li>
							</ul>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
					</ul> <!-- //.nav-menu -->
					<!-- //.nav-menu -->
					<!-- //.nav-menu -->
					<div class="canvas-contact">
						<div class="address-area">
							<div class="address-list">
								<div class="info-icon">
									<i class="fi fi-rr-map-marker-home"></i>
								</div>
								<div class="info-content">
									<h4 class="title">Contact</h4>
									<em>31 New Street, NY, USA</em>
								</div>
							</div>
							<div class="address-list">
								<div class="info-icon">
									<i class="fi fi-rr-envelope-plus"></i>
								</div>
								<div class="info-content">
									<h4 class="title">Email</h4>
									<em><a href="mailto:info@konstruk.com">Info@konstruk.com</a></em>
								</div>
							</div>
							<div class="address-list">
								<div class="info-icon">
									<i class="fi fi-rr-phone-call"></i>
								</div>
								<div class="info-content">
									<h4 class="title">Free Call</h4>
									<em>+019988772</em>
								</div>
							</div>
						</div>
					</div>
				</nav>
				<!-- Canvas Menu end -->
			</header>
			<!--Header End-->
		</div>
		<!--Full width header End-->
		<!-- Breadcrumbs Start -->
		<div class="rs-breadcrumbs img5">
			<div class="container">
				<div class="breadcrumbs-inner">
					<div class="row y-middle">
						<div class="col-lg-6 md-mb-50">
							<div class="breadcrumbs-wrap">
								<h1 class="page-title">
									We are the API Agency
								</h1>
								<p class="description">
									
								</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="team-img">
								<img class="js-tilt" src="assets/images/breadcrumbs/images/team-image.png" alt="Images">
							</div>
						</div>
					</div>
					<div class="shape-animation">
						<div class="team-animate">
							<img class="scale" src="assets/images/breadcrumbs/shape/img5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumbs End -->
		<!-- Team Start -->
		<!-- Team End -->
		<!-- Join Us Start -->
		<!-- Join Us End -->

	</div>
	<!-- Main content End -->
	<!-- Footer Start -->
	<footer id="rs-footer" class="rs-footer footer-main-home">
		<div class="footer-bottom">
			<div class="container">
				<div class="bottom-border">
					<div class="row y-middle">
						<div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
							<ul class="copy-right-menu">
								<li><a href="javascript:void(0);">About Me</a></li>
								<li><a href="javascript:void(0)">Contact</a></li>
							</ul>
						</div>
						<div class="col-lg-6">
							<div class="copyright text-lg-start text-center">
								<p>© 2022 Swipy.  Designed By <a href="https://rstheme.com/" target="blank">RSTheme</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->
	<!-- start scrollUp  -->
	<div id="scrollUp">
		<i class="fa fa-angle-up"></i>
	</div>
	<!-- End scrollUp  -->
	<!-- Search Modal Start -->
	<div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="search-block clearfix">
					<form>
						<div class="form-group">
							<input class="form-control" placeholder="Search Here..." type="text">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Search Modal End -->
	<!-- modernizr js -->
	<script src="assets/js/modernizr-2.8.3.min.js"></script>
	<!-- jquery latest version -->
	<script src="assets/js/jquery.min.js"></script>
	<!-- Bootstrap v4.4.1 js -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- op nav js -->
	<script src="assets/js/jquery.nav.js"></script>
	<!-- owl.carousel js -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- isotope.pkgd.min js -->
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<!-- wow js -->
	<script src="assets/js/wow.min.js"></script>
	<!-- Skill bar js -->
	<script src="assets/js/skill.bars.jquery.js"></script>
	<!-- imagesloaded js -->
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<!-- Slick js -->
	<script src="assets/js/slick.min.js"></script>
	<!-- waypoints.min js -->
	<script src="assets/js/waypoints.min.js"></script>
	<!-- Tilt js popup js -->
	<script src="assets/js/tilt.jquery.min.js"></script>
	<!-- magnific popup js -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- counterup.min js -->
	<script src="assets/js/jquery.counterup.min.js"></script>
	<!-- contact form js -->
	<script src="assets/js/contact.form.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>
</body>
</html>